.fila-productos {
  overflow-x: auto;
  white-space: nowrap;
  scrollbar-width: thin; 
  padding: 0.5rem;
}

.card{
  position: absolute;
  width: 100%;
  overflow: hidden;
  border: none;
}

.card-body {
  text-align: left;
  height: 100%;
  width: 100%;
  background-color: black;
}

#imagen-carta {
  height: 100%;
  width: 100%;
  background-color: black;
}

#formato {
  font-size:0.9rem;
  color: white;
}

#art-titulo {
  margin: 0;
  overflow: hidden;
  display: -webkit-box;
  text-wrap: wrap;
  width: 200px;
  color: white;
}

#precio {
  font-size: 1.2rem;
  text-align: left;
  text-wrap: wrap;
  display: flex;
  vertical-align: bottom;
  color: white;
}

#col-prod {
  display: flex;
  width: 100%;
}

#fila {
  flex-wrap: nowrap;
  height: 100%;
}