body {
    background: #000000fd;
    color: #fff;
}

.card-body .card-title {
    color: white;
}

.form-group .form-control {
    background-color: black;
}

.form-group .form-control::placeholder {
    color: white;
}

.form-group {
    padding-bottom: 1rem;
}

.login-page .btn-primary {
  background-color: #094b57;
  border: none;
}

.login-page .btn-primary:hover,
.login-page .btn-primary:focus,
.login-page .btn-primary:active {
  background-color: #063840 !important;
  border: none;
  box-shadow: none;
}

.label-input {
    padding-bottom: 0.5rem;
    color: white;
}

.text-center {
    color:white
}

a:hover { color: #ffffff; }
