.card{
  position: absolute;
  width: 100%;
  overflow: hidden;
  border: none;
}

.card-body {
  text-align: left;
  height: 100%;
  width: 100%;
  background-color: black;
}

#imagen-carta {
  height: 100%;
  width: 100%;
  background-color: black;
}

#formato {
  font-size:0.9rem;
  color: white;
}

#art-titulo {
  margin: 0;
  overflow: hidden;
  display: -webkit-box;
  text-wrap: wrap;
  width: 200px;
  color: white;
}

#precio {
  font-size: 1.2rem;
  text-align: left;
  text-wrap: wrap;
  display: flex;
  vertical-align: bottom;
  color: white;
}